Header add Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Headers: "Content-Type"
Header set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

RewriteEngine On

# For the js and css assets when using React in PRODUCTION
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^static/(.*)$ build/static/$1

# Reserved for the React build => PRODUCTION
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^dev$ public/index.html

# API routes
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^people$ API/controllers/people.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^people$ API/controllers/people.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^people/([0-9]+)$ API/controllers/people.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^people/([0-9]+)$ API/controllers/people.php?action=delete&id=$1

# Reserved for the React build => PRODUCTION
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^$ build/index.html